<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.managehttp.mapper.TxDataMapper">
    <select id="getMaxHeight" resultType="java.lang.Long">
        select max(height)
        from "ThreatIntelligent".public."TxData"
    </select>

    <insert id="insertData">
        insert into "ThreatIntelligent".public."TxData"(chain_id, uri, height, owner, linker, prefix_code, hash,
                                                        payload, data, version, timestamp, create_time, update_time)
        VALUES (#{chainId}, #{uri}, #{height}, #{owner}, #{linker}, #{prefixCode}, #{hash}, #{payload}, #{data},
                #{version}, #{timestamp}, now(), now())
    </insert>
    
    <select id="getPayloadByUri" resultType="String">
        select payload from "TxData" where uri = #{uri}
    </select>
</mapper>